<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Inventory Tracker</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i">
      <link rel="stylesheet" href="landing-page.component.css">
   </head>

   <body>
      <nav class="navbar navbar-expand-md">
         <div class="navbar-collapse">
             <ul class="navbar-nav ms-auto">
                 <li class="nav-item">
                     <a class="nav-link" href="#">Login</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">Register</a>
                 </li>
             </ul>
         </div>
     </nav>
      <article id="inventory-tracker">
            <figure class="size-4">
               <img src="assets/logolanding.png">
            </figure>
            <header>Designed to make small business owners' lives simpler, faster, and better.</header><hr>
            <div class="form-button mt-3">
                <button id="submit" type="submit" class="btn btn-primary">Find Out More</button>
            </div>
      </article>
   </body>
</html>
